body{
  margin : 0;
  background: #000;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.noborder{
  border: 0;
  background: inherit;
}

.hidden{
  display: none;
}


/*--------------------------------------------------------------------------
----------------------------------------------------------------------------*/



.startScreen{
  display:grid;
}

.textWrapper{
  display:grid;
  grid-template-rows: min-content min-content min-content min-content min-content ;
  color: green;
  padding: 10px;
  text-align: center;
  height: 93vh;
}

.title{
  font-size: 20px;
  font-weight: 600;
  padding: 1em;
}

.intro{
  padding-top: 1em;
  padding-bottom: 1em;
}

.rules{
  padding-top: 0em;
}

.text{

}



ul{
  justify-self: center;
  font-size: 14px;
}

li{
  text-align: left;
}

.clickToStart{
  margin-top: 1em;
  margin-bottom: 2em;
  padding : .5em;
  padding-left: 4em;
  padding-right: 4em;
  background : green;
  color: black;
  justify-self: center;
  border-radius: 10px;
}

.footer{
  position: fixed;
  bottom : 0;
  width : 100vw;
  color: #333;
  background: #1119;
  text-align: right;
  padding-top: 2px;
  padding-bottom: 5px;
}




/*--------------------------------------------------------------------------
----------------------------------------------------------------------------*/



.wrapper{
  display: none;
}



/*--------------------------------------------------------------------------*/



.plusMinusButtons{
  display: none;
  position:fixed;
  bottom : 45px;
  background: #111b;
  color: #ccc;
}

.plus{
  border : 1px solid;
  border-color: #222;
  border-radius: 5px 5px 0 0;
  padding-top: 10px;
  padding-bottom: 10px;
  /*padding: 10px;
  padding-left: 20px;
  padding-right: 20px;*/
}

.minus{
  border : 1px solid;
  border-color: #222;
  border-radius: 0 0 5px 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  /*padding: 10px;
  padding-left: 20px;
  padding-right: 20px;*/
}


.saveButtons{
  display: none;
  grid-template-columns: repeat(6, min-content);
  position:fixed;
  bottom : 45px;
  right :0;
}

.button{
  background: #111b;
  color: #ccc;
  border : 1px solid;
  border-color: #222;
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
}

.save{
  border-radius: 5px 0 0 5px;
}
.previous{
}

.next{
}

.delete{
}

.fullscreen{
  border-radius: 0 5px 5px 0;
}

#fullscreenIcon_1{
  font-size: 28px;
}

#fullscreenIcon_2{
  font-size: 28px;
}



/*--------------------------------------------------------------------------*/




.panel{
  position: fixed;
  bottom: 0;
  width : 100vw;
  min-height: 45px;
  max-height: 45px;
  display: grid;
  grid-template-columns: repeat(7,1fr);
  background: #5552;
  border-top: 1px solid;
  border-color: #333;
}

.panelItem{
  color: #ccc;
  text-align: center;
  justify-content: center;
  padding-top: 0px;
  padding-bottom: 15px;
}



.speed{
  margin-bottom: 0;
  padding-top: 0px;

}

.size{
  padding: 0;
  margin:0;
  padding-top: 0px;
}


.twinButtons{
  display: grid;
  grid-template-columns: min-content min-content;
}




/*--------------------------------------------------------------------------*/



.gameContainer{
  display: grid;
  /*align-content: center;*/

}



.canvas{
  margin-top: 2px;
  border: 0px solid;
  border-color: #ccc;
  /*align-self: center;*/
}


.gameStatsContainer{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  color: #eee;
  position: fixed;
  bottom:0;
  width: 100vw;
  padding-bottom: 2px;
  font-size: 11px;
  }

.speedIndicator{
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}

.genCounter{
  grid-column: 6/8;
  text-align: right;
  padding-right: 5px;
}

.gridSize{
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}




/*--------------------------------------------------------------------------
  --------------------------------------------------------------------------*/



@media screen and (min-width: 480px) {


  .plusMinusButtons{
    margin-left: 0px;
  }

  .openSavedButton{
    display: none;
  }

  .saveButtons{
    display:none;
  }

  .button{
    display:none;
  }

  .panel{
    position : fixed;
    bottom: 0;
    width : 100vw;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    background: #5552;
    border-top: 1px solid;
    border-color: #333;
  }

  .hidden{
    display: grid;
  }

  .gameStatsContainer{
    grid-template-columns: repeat(12,1fr);
  }

  .genCounter{
    grid-column: 3/10;
    text-align: center;
  }



}
